<div id="ruby">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Identifier:</b>
	  <%= @item.identifier %>
	</p>

	<p>
	  <b>Location:</b>
	  <%= @item.location %>
	</p>


	<%= link_to 'Edit', edit_item_path(@item) %> |
	<%= link_to 'Back', items_path %>
</div>